**Python Programming Practice Problems**

Unique Words in a Sentence

In [ ]:
sentence=input("Enter the sentence :")
words=sentence.split()
unique=set(words)
print("The number of unique words are ",len(unique))
print("The unique words are ",unique)

Enter the sentence :Python is easy and python is powerful
The number of unique words are  6
The unique words are  {'powerful', 'python', 'and', 'is', 'easy', 'Python'}

Highest Salary from Employee Data

In [ ]:
# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Finding employee with highest salary
highest_paid = max(employees, key=employees.get)

# Printing result
print("Highest Salary:", highest_paid, "-", employees[highest_paid])

Highest Salary: Ravi - 75000

Find Maximum and Minimum Values

In [ ]:
numbers = [45, 22, 89, 10, 66]
print("Max number :",max(numbers))
print("Min number :",min(numbers))

Max number : 89
Min number : 10

Count Products Above a Price Threshold

In [ ]:
prices = [450, 1200, 899, 1500, 300]
count=0
for i in prices :
  if i>1000:
    count+=1
print("The numbers greater than 1000 : ",count)

The numbers greater than 1000 :  2

Calculate Attendance Percentage

In [ ]:
attendance = ["P", "P", "A", "P", "P"]
total=len(attendance)
count=0

for i in attendance:
  if i=='P':
    count+=1
percent=(count/total)*100
print("The perecentage of present is :",percent)

The perecentage of present is : 80.0

Remove Duplicate Phone Numbers

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]
phone=set(phone_numbers)
print(phone)

{9876543210, 9123456789}

 Count Character Frequency

In [ ]:
text = "python"

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Convert List to Tuple

In [ ]:
l=[1,2,3]
t=tuple(l)
print(t)

(1, 2, 3)

Check whether a specific key exists in a dictionary.

In [ ]:
dict={1:'a',2:'b',3:'c'}
key=int(input("Enter a key :"))
if key in dict:
  print("The key is present")
else:
  print("The key isnot present")

Enter a key :3
The key is present

 Calculate Average Marks

In [ ]:
marks=[10,20,30,40,50]
total=sum(marks)
num=len(marks)
avg=total/num
print("The average is ",avg)

The average is  30.0